 .menu-icon-items .menu-link {
     padding: 9px 9px;
     color: #224958;
     display: block;
     height: 55px;

     &:hover {
         border-radius: 10px;
         background-color: rgb(236, 233, 233);
     }
 }

 .menu-container {
     .MuiTypography-h5 {
         font-weight: 900;
         padding: 10px;
         border-bottom: 2px solid rgb(227, 226, 226)
     }

     .menu {
         .menu-items {
             padding: 12px 16px;
             width: 100%;
             cursor: pointer;
             font-size: 14px;

             .menu-link {
                 text-decoration: none;
                 color: black;
             }

             &:hover {
                 background-color: rgb(215, 215, 215);
             }
         }
     }
 }