.view-header {
    padding: 20px;
    background-color: var(--boston-blue);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .MuiTypography-root {
        font-size: 1.5rem; // Default size for larger screens

        @media (max-width: 600px) {
            font-size: 1.2rem; // Adjust font size on smaller screens
            padding: 0.5rem;
        }
    }

    // Make it responsive
    @media (max-width: 600px) {
        flex-direction: column;
        height: auto;
        padding: 10px;
        text-align: center;
    }
}

.view-content {
    font-size: 12px;
    font-weight: 500;

    // Make it responsive
    @media (max-width: 600px) {
        font-size: 10px;
    }
}

.view-dialog {
    background-color: black;
    color: var(--white-smoke);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;

    // Ensure content is responsive
    @media (max-width: 600px) {
        width: 100% !important;
        height: auto !important;
        padding: 10px;
    }
}