/* Table container styles */
.MuiTable-root {

    /* TableHead styles */
    .MuiTableHead-root {

        /* TableRow styles */
        .MuiTableRow-root {

            /* TableCell styles */
            .MuiTableCell-root {
                text-decoration: underline;
                font-weight: bold;
                text-align: center;
                padding: 2px 5px;
            }
        }
    }

    /* TableBody styles */
    .MuiTableBody-root {

        /* TableRow styles */
        .MuiTableRow-root {
            border-style: hidden;

            /* TableCell styles */
            .MuiTableCell-root {
                min-width: 50px;
                padding: 2px 5px;
                font-size: 12px;

                /* Target the first TableCell of each TableRow */
                &:first-of-type {
                    font-weight: bold;
                }

            }
        }
    }
}

/* Target the second TableCell in each TableRow of the tags-table */
.tags-table .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root:nth-child(2),
.schedule-info-table .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root:nth-child(2) {
    min-width: 150px;
}